
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
}
header{
    background-color: #008000;
    margin: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;

    height: 50px;

    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px grey;
    border: solid;
    border-color: black;

    display: flex;
    align-items: center;
    
}
h1{
    padding: 10px;
    width: fit-content;
}
.linkheader{
    padding: 10px;
}
main{
    background-color: whitesmoke;
    min-height: 450px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;

    display: flex;
}
aside{
    margin: 5px 5px 5px 0px;
    text-align: center;
    min-width: 200px;
    padding: 10px;
    background-color: rgb(207, 207, 207);
    min-height: 450px;

    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px grey;
    border: solid;
    border-color: black;
}
section{
    display: block;

    width: 90%;
    min-width: 450px;
    height: max-content;
    margin: 8px 0px 5px 5px;
    padding: 15px;

    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px grey;
    border: solid;
    border-color: black;
}
h2{
    font-size: 20pt;
}

footer{
    background-color: #4ea740;
    margin: 5px;
    padding: 10px;

    font-family: 'Montserrat', sans-serif;
    text-align: center;

    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px grey;
    border: solid;
    border-color: black;
}